<html>
    <head>
        <title></title>
        <script src="vue-2.4.0.js"></script>
        <link rel="stylesheet" href="bootstrap-3.3.7.css" />
    </head>

    <boby>
        <div id="app">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">添加品牌</h3>
                </div>
                <div class="panel-body form-inline">
                    <label>
                        Id:
                        <input type="text" class="form-control" v-model="Id">
                    </label>
                    <label>
                        Name:
                        <input type="text" class="form-control" v-model="Name" @keyup.f2="add()">
                    </label>
                    <label>                       
                        <input type="button" value="Add" class="btn btn-primary" @click="add()">
                    </label>

                    <label>
                        搜索名称关键字:
                        <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color v-fontweight="1000">
                    </label>
                </div>
            </div>

            <table class="table table-bordered table-hover table-striped">
                <thread>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Ctime</th>
                        <th>Operation</th>
                    </tr>
                </thread>
                <tboby>
                    <tr v-for="item in search(keywords)" :key ="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.ctime|timeFilter()}}</td>
                        <td>
                            <a href="" @click.prevent="del(item.id)">Delete</a>
                        </td>
                    </tr>

                </tboby>

            </table>

        </div>


    <script>
        Vue.filter('timeFilter',function(dataStr){
            var dt=new Date(dataStr);
            return dt.getFullYear()+"-"+dt.getMonth()+"-"+dt.getDate();
        });

        //自定义全局按键修饰符
        Vue.config.keyCodes.f2=113;

        //全局自定义指令
        Vue.directive('focus',{
            bind:function(el){    //每当元素绑定指令时执行，执行一次
                // el.focus();
            },
            inserted:function(el){//当元素插入到DOM中时执行，执行一次
                el.focus();
            },
            updated:function(){ //当VNode更新时执行，可能触发多次

            }
        });

        Vue.directive('color',{
            bind:function(el){    
                el.style.color="red";
            },
            inserted:function(el){
               
            },
            updated:function(el){ 
               
            }

        });

        var vm=new Vue({
            el: "#app",
            data:{
                list:[
                    {id:1,name:"奔驰",ctime:new Date()},
                    {id:2,name:"宝马",ctime:new Date()},
                ],
                Id:"",
                Name:"",
                keywords:''
            },
            methods:{
                add(){
                    console.log(111);
                    var car={id:this.Id,name:this.Name,ctime:new Date()};
                    this.list.push(car);
                },
                del(id)
                {
                   var index=this.list.findIndex(item=>{
                        if(item.id==id){
                            return true;
                        }
                   });
                   this.list.splice(index,1);
                },
                search(keywords){
                    var newList = [];
                    this.list.forEach(item => {
                        if (item.name.indexOf(keywords) != -1) {
                        newList.push(item)
                        }
                    })
                    return newList;
                }
            },
            directives:{
                'fontweight':{
                    bind:function(el,binding){
                        el.style.fontweight=binding.value;
                    }
                }

            }
        });
    </script>

</boby>
</html>