<html>
    <head>
        <title></title>    
        <style>
          
        </style>
        <script src="vue-2.4.0.js"></script>
    </head>

    <body>
        <div id="app">
            <input type="button" value="toggle" @click="toggle"/>
            <h3 v-if="flag">这是用v-if控制的元素</h3>
            <h3 v-show="flag">这是用v-show控制的元素</h3>
           
           <p v-for="item in list">{{item}}</p>
        </div>

        
        <script>
            var vm=new Vue({
                el:'#app',
                data:{    
                    flag:true,
                },
                methods:{
                    toggle(){
                       this.flag=!this.flag;
                    }
                }
            });
        </script>
    </body>

</html>